.card4{
    background-color:#0D1B2A;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 580px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
      
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
.card4h4{
    font-family: 'Times New Roman';
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
  
.card4p4{
    font-family:'Cambria';
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}