.extreme-obese{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    display: inline-block;
}
.extreme-obese-h2{
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family:'Cambria';
}
.extreme-obese-p{
    font-size: 1.2em;
    font-weight: lighter;
    font-family: 'Times New Roman';
    color: #E2EB98;
}
.extreme-obese-h3{
    font-size: 1.3em;
    color: #E2EB98; 
    font-family:'Cambria';
}
.extreme-obese-h6{
    font-size: 1.15em;
    color: #E2EB98; 
    font-family:'Cambria';  
}
.extreme-dl{
    font-size: 1.2em;
    color: #E2EB98; 
    font-family: 'Times New Roman';
}